<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	“MUSTANG | 野马”的评论	</title>
	<atom:link href="https://musta.ng/comments/feed" rel="self" type="application/rss+xml" />
	<link>https://musta.ng</link>
	<description></description>
	<lastBuildDate>Mon, 03 Apr 2023 13:44:54 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.1</generator>
	<item>
		<title>
		Mustang对《大企业收购的那些域名》的评论		</title>
		<link>https://musta.ng/845.html/comment-page-1#comment-512</link>

		<dc:creator><![CDATA[Mustang]]></dc:creator>
		<pubDate>Mon, 03 Apr 2023 12:11:08 +0000</pubDate>
		<guid isPermaLink="false">https://musta.ng/?p=845#comment-512</guid>

					<description><![CDATA[回复给&lt;a href=&quot;https://musta.ng/845.html/comment-page-1#comment-511&quot;&gt;她的蓝&lt;/a&gt;。

坐等收购:)]]></description>
			<content:encoded><![CDATA[<p>回复给<a href="https://musta.ng/845.html/comment-page-1#comment-511">她的蓝</a>。</p>
<p>坐等收购:)</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		她的蓝对《大企业收购的那些域名》的评论		</title>
		<link>https://musta.ng/845.html/comment-page-1#comment-511</link>

		<dc:creator><![CDATA[她的蓝]]></dc:creator>
		<pubDate>Mon, 03 Apr 2023 08:42:50 +0000</pubDate>
		<guid isPermaLink="false">https://musta.ng/?p=845#comment-511</guid>

					<description><![CDATA[大厂们赶紧来收购我这个域名吧，哈哈哈。]]></description>
			<content:encoded><![CDATA[<p>大厂们赶紧来收购我这个域名吧，哈哈哈。</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Mustang对《人生三个阶段》的评论		</title>
		<link>https://musta.ng/502.html/comment-page-1#comment-370</link>

		<dc:creator><![CDATA[Mustang]]></dc:creator>
		<pubDate>Thu, 02 Feb 2023 13:14:12 +0000</pubDate>
		<guid isPermaLink="false">https://shaocapital.com/?p=502#comment-370</guid>

					<description><![CDATA[回复给&lt;a href=&quot;https://musta.ng/502.html/comment-page-1#comment-247&quot;&gt;wresource&lt;/a&gt;。

没错，就是它]]></description>
			<content:encoded><![CDATA[<p>回复给<a href="https://musta.ng/502.html/comment-page-1#comment-247">wresource</a>。</p>
<p>没错，就是它</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
